<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Usuarios Administrativos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--JQUERY-->
        <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
        <!-- Los iconos tipo Solid de Fontawesome-->
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        <!-- Nuestro css-->
        <link rel="stylesheet" type="text/css" href="static/css/user-form.css"
              th:href="@{/css/user-form.css}">
        <!-- DATA TABLE -->
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

        <script type="text/javascript">
            $(document).ready(function () {
                //Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
                $('#userList').DataTable();
            });
        </script>

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <a class="navbar-brand" href="#">
                        Reto 4
                    </a>
                    <li class="nav-item">
                        <a class="nav-link" href="/formCategory">Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formCabin">Cabañas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formClient">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formMsg">Mensajes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formReservation">Reservas</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/formAdmin">Administradores</a>
                    </li>
                </ul>
            </div>
            <a class="btn btn-outline-danger my-2 my-sm-0" href="/" role="button">Cerrar Sesión</a>
        </nav>
        <div class="container">
            <div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
                <ul class="nav nav-tabs justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">Administradores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="true">Nuevo</a>				   	
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="float-left">Lista de Administradores</h4>
                                <form id="buscar" class="form-inline my-2 my-lg-0 float-right">
                                    <input id="busqueda" class="form-control mr-sm-2" type="number" placeholder="Search ID" aria-label="Search" required>
                                    <button class="btn btn-primary my-2 my-sm-0">Search</button>
                                </form>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive" >
                                    <table id="userList" class="table table-bordered table-hover table-striped">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Nombre Admin</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Editar</th>
                                                <th scope="col">Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody id="resultado" th:if="${admins != null and !admins.empty}">
                                            <tr th:each="admin: ${admins}">
                                                <td th:text="${admin.name}"></td>
                                                <td th:text="${admin.email}"></td>
                                                <td>
                                                    <a
                                                        th:href="@{/formAdmin/update/}+${admin.id}"
                                                        th:text="EDITAR"
                                                        ></a>
                                                </td>
                                                <td>
                                                    <a
                                                        th:href="@{/formAdmin/delete/}+${admin.id}"
                                                        th:text="ELIMINAR"
                                                        ></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody th:if="${admins == null or admins.empty}">
                                            <tr>
                                                <td colspan="4">
                                                    <div class="alert alert-danger" role="alert">
                                                        No hay Administradores que mostrar
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="form-tab">
                        <div class="card">
                            <div class="card-header">
                                <h4>Nuevo Administrador</h4>
                            </div>
                            <div class="card-body">
                                <form th:object="${admin}" th:action="@{/formAdmin/save}" class="form" method="post">
                                    <!-- Log de erorres de validacion-->
                                    <div th:object="${admin}" th:if="${#fields.hasErrors('*')}" class="errorblock">
                                        <ul
                                            class="alert alert-danger"
                                            role="alert"
                                            >
                                            <li
                                                th:each="error: ${#fields.errors('*')}"
                                                th:text="${error}"
                                                style="margin-left: 20px"
                                                ></li>
                                        </ul>
                                        <script>
                                            $('#form-tab').tab('show');
                                        </script>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Nombre</label>
                                        <div class="col-lg-9">
                                            <input
                                                th:field="*{name}"
                                                id="nombre_admin"
                                                placeholder="Escribe tu nombre"
                                                type="text"
                                                class="form-control"
                                                />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                        <div class="col-lg-9">
                                            <input
                                                th:field="*{email}"
                                                id="email_admin"
                                                placeholder="Escribe tu email"
                                                type="email"
                                                class="form-control"
                                                />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Contraseña</label>
                                        <div class="col-lg-9">
                                            <input
                                                th:field="*{password}"
                                                id="psswd_admin"
                                                placeholder="Escribe la contraseña"
                                                type="password"
                                                class="form-control"
                                                />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-12 text-center">
                                            <button class="btn btn-warning" title="Limpiar" type="reset">
                                                Limpiar
                                            </button>
                                            <button class="btn btn-success" title="Guardar" type="submit">
                                                Guardar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Cabin</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editar" class="form">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Id</label>
                                <div class="col-lg-9">
                                    <input id="id_modal" class="form-control" type="number" name="id" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Brand</label>
                                <div class="col-lg-9">
                                    <input id="brand_modal" class="form-control" type="text" name="brand" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Rooms</label>
                                <div class="col-lg-9">
                                    <input id="rooms_modal" class="form-control" type="number" name="rooms" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Category Id</label>
                                <div class="col-lg-9">
                                    <input id="category_id_modal" class="form-control" type="number" name="category_id" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Name</label>
                                <div class="col-lg-9">
                                    <input id="name_modal" class="form-control" type="text" name="name" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12 text-center">
                                    <input type="submit" class="btn btn-primary" value="Save">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </body>
</html>
