<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Reservas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/Css/styles.css" />
</head>

<body>
  <button type="button" onclick="location.href='/'">Regresar</button>

  <h4>Formulario de Reservas</h4>
  <hr />

  <!-- Formulario -->
  <div class="centrar">
    <form th:object="${reservation}" th:action="@{/formReservation/save}" method="post">
      <fieldset>
        <!-- Log de erorres de validacion-->
        <div th:object="${reservation}" class="errorblock">
          <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
            <li th:each="error: ${#fields.errors('*')}" th:text="${error}" style="margin-left: 20px"></li>
          </ul>
        </div>
        <caption>
          Datos de la Reserva
        </caption>
        <table class="form">
          <tr>
            <div class="form-group">
              <td><label for="devolutionDate">Fecha de entrega</label></td>
              <td>
                <input th:field="*{devolutionDate}" id="devolutionDate" type="date" class="form-control" />
              </td>
            </div>
          </tr>

          <tr>
            <div class="form-group">
              <td>
                <label for="client">Cliente</label>
              </td>
              <td>
                <select id="client_msg" name="client">
                  <option th:each="c: ${clientes}" th:value="${c.idClient}" th:text="${c.name}"></option>
                </select>
              </td>
            </div>
          </tr>

          <tr>
            <div class="form-group">
              <td>
                <label for="cabin">Cabaña</label>
              </td>
              <td>
                <select id="cabin_msg" name="cabin">
                  <option th:each="cabin: ${cabanas}" th:value="${cabin.id}" th:text="${cabin.name}"></option>
                </select>
              </td>
            </div>
          </tr>

          <!-- Botones -->

          <td>
            <button class="btn btn-success" title="Guardar" type="submit">
              Registrar Reserva
            </button>
          </td>

          <td>
            <button class="btn btn-warning" title="Limpiar" type="reset">
              Limpiar los campos
            </button>
          </td>
        </table>
      </fieldset>
    </form>
  </div>
  <br />

  <div class="centrar">
    <div th:if="${reservas != null and !reservas.empty}">
      <h4>Lista de Reservas</h4>
      <hr />
      <table class="table">
        <tr>
          <th style="background-color: darksalmon">
            <center><b>CABAÑA</b></center>
          </th>
          <th style="background-color: darksalmon">
            <center><b>MARCA</b></center>
          </th>
          <th style="background-color: darksalmon">
            <center><b>DEVOLUCIÓN</b></center>
          </th>
          <th style="background-color: darksalmon">
            <center><b>ESTADO</b></center>
          </th>

          <th style="background-color: darksalmon">
            <center><b>CLIENTE</b></center>
          </th>
          <th style="background-color: darksalmon">
            <center><b>EMAIL</b></center>
          </th>
          <th style="background-color: darksalmon">
            <b>&#9733;
            </b>
          </th>
          <th colspan="2" style="background-color: brown"><b>
            <center><b>PUNTUACIÓN</b></center>
          </b></th>

          <th colspan="2" style="background-color: crimson">
            <b></b>
            <center><b>RESERVA</b></center>
          </th>
          <th style="background-color: darksalmon"><b></b></th>
        </tr>

        <tr th:each="r: ${reservas}">
          <td th:text="${r.cabin.name}"></td>
          <td th:text="${r.cabin.brand}"></td>
          <td th:text="${#strings.substring(r.devolutionDate,0,10)}"></td>
          <td th:text="${r?.status}"></td>
          <td th:text="${r.client.name}"></td>
          <td th:text="${r.client.email}"></td>
          <td><span th:text="${r?.score?.rate}"></span></td>

          <td>
            <a th:href="@{/formReservation/rate/}+${r.idReservation}" th:text="AGREGAR"></a>
          </td>
          <td>
            <a th:href="@{/formReservation/rate/update/}+${r?.score?.id}" th:text="EDITAR"></a>
          </td>

          <td>
            <a th:href="@{/formReservation/delete/}+${r.idReservation}" th:text="ELIMINAR"></a>
          </td>

          <td>
            <a th:href="@{/formReservation/update/}+${r.idReservation}" th:text="MODIFICAR"></a>
          </td>
        </tr>
      </table>
    </div>
    <div th:if="${reservas == null or reservas.empty}">
      <h4>No hay Reservas que mostrar</h4>
      <hr />
    </div>
  </div>
</body>

</html>