<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Mensajes</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/Css/styles.css" />
  </head>

  <body>
    <button type="button" onclick="location.href='/'">Regresar</button>

    <h4>Formulario de Mensajes</h4>
    <hr />

    <!-- Formulario -->
    <div class="centrar">
      <form th:object="${message}" th:action="@{/formMsg/save}" method="post">
        <fieldset>
          <!-- Log de erorres de validacion-->
          <div th:object="${message}" class="errorblock">
            <ul
              th:if="${#fields.hasErrors('*')}"
              class="alert alert-danger"
              role="alert"
            >
              <li
                th:each="error: ${#fields.errors('*')}"
                th:text="${error}"
                style="margin-left: 20px"
              ></li>
            </ul>
          </div>
          <caption>
            Datos del Mensaje
          </caption>
          <table class="form">
            <tr>
              <div class="form-group">
                <td>
                  <label for="message_body">Mensaje</label>
                </td>
                <td>
                  <textarea
                    th:field="*{messageText}"
                    id="messageBody"
                    type="text"
                    placeholder="Escriba el mensaje aqui"
                    class="form-control"
                  ></textarea>
                </td>
              </div>
            </tr>

            <tr>
              <div class="form-group">
                <td>
                  <label for="client">Cliente</label>
                </td>
                <td>
                  <select id="client_msg" name="client">
                    <option
                      th:each="c: ${clients}"
                      th:value="${c.idClient}"
                      th:text="${c.name}"
                    ></option>
                  </select>
                </td>
              </div>
            </tr>

            <tr>
              <div class="form-group">
                <td>
                  <label for="cabin">Cabaña</label>
                </td>
                <td>
                  <select id="cabin_msg" name="cabin">
                    <option
                      th:each="cabin: ${cabins}"
                      th:value="${cabin.id}"
                      th:text="${cabin.name}"
                    ></option>
                  </select>
                </td>
              </div>
            </tr>

            <!-- Botones -->

            <td>
              <button class="btn btn-success" title="Guardar" type="submit">
                Actualizar Mensaje
              </button>
            </td>

            <td>
              <button class="btn btn-warning" title="Limpiar" type="reset">
                Limpiar los campos
              </button>
            </td>
          </table>
        </fieldset>
      </form>
    </div>
    <br />

    <div class="centrar">
      <div th:if="${messages != null and !messages.empty}">
        <h4>Lista de Mensajes</h4>
        <hr />
        <table class="table">
          <tr>
            <th style="background-color: darksalmon">
              <center><b>MENSAJE</b></center>
            </th>
            <th style="background-color: darksalmon">
              <center><b>CABAÑA</b></center>
            </th>
            <th style="background-color: darksalmon">
              <center><b>MARCA</b></center>
            </th>
            <th style="background-color: darksalmon">
              <center><b>CLIENTE</b></center>
            </th>
            <th style="background-color: darksalmon"><b></b></th>
            <th style="background-color: darksalmon"><b></b></th>
          </tr>

          <tr th:each="m: ${messages}">
			<td th:text="${m.messageText}"></td>
			<td th:text="${m.cabin.name}"></td>
			<td th:text="${m.cabin.brand}"></td>
			<td th:text="${m.client.name}"></td>
            <td>
              <a
                th:href="@{/formMsg/update/}+${m.idMessage}"
                th:text="EDITAR"
              ></a>
            </td>
            <td>
              <a
                th:href="@{/formMsg/delete/}+${m.idMessage}"
                th:text="ELIMINAR"
              ></a>
            </td>
          </tr>
        </table>
      </div>
      <div th:if="${messages == null or messages.empty}">
        <h4>No hay Mensajes que mostrar</h4>
        <hr />
      </div>
    </div>
  </body>
</html>
