<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Editar Calificación Reserva</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/Css/styles.css" />
  </head>

  <body>
    <button type="button" onclick="location.href='/formReservation'">
      Regresar
    </button>

    <h4>Calificacion de Reserva</h4>
    <hr />

    <!-- Formulario -->
    <div class="centrar">
      <form
        th:object="${revervationRating}"
        th:action="@{/formReservation/rate/update/save}"
        method="post"
      >
        <fieldset>
          <caption>
            Datos de la Calificación
          </caption>
          <table class="form">
            <tr>
              <div class="form-group">
                <input type="hidden" th:field="*{id}" />
                <td><label for="rate">Calificacion</label></td>
                <td>
                  <input
                    th:field="*{rate}"
                    id="rate"
                    type="range"
                    class="form-control"
                    oninput="document.getElementById('txt-rate').value=value"
                    min="1"
                    max="5"
                  />
                  <output id="txt-rate" name="txt-rate">1</output>
                </td>
              </div>
            </tr>
            <tr>
              <div class="form-group">
                <td>
                  <label for="message_body">Mensaje</label>
                </td>
                <td>
                  <textarea
                    th:field="*{message}"
                    id="message"
                    type="text"
                    placeholder="¿Cómo fue su experiencia en la reservación? Cuentenos."
                    class="form-control"
                    rows="5"
                  ></textarea>
                </td>
              </div>
            </tr>

            <!-- Botones -->

            <td>
              <button class="btn btn-success" title="Guardar" type="submit">
                Registrar Calificacion
              </button>
            </td>

            <td>
              <button class="btn btn-warning" title="Limpiar" type="reset">
                Limpiar los campos
              </button>
            </td>
          </table>
        </fieldset>
      </form>
    </div>
  </body>
</html>
